<%- include("../partials/header")%>
    <div class="login">
        <div class="card">
            <form action="/register" method="POST">
                <h2 class="title"> Sign Up</h2>
                <div class="email-login">
                    <label for="username"> <b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" id="username" required>
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" id="password" name="password" required>
                </div>
                <button class="cta-btn">Sign Up</button>
            </form>
        </div>
    </div>
    <%- include("../partials/footer")%>