<%- include("../partials/header")%>
    <div class="container register">
        <form action="/register" method="POST">
            <div class="mb-3 form-floating">
                <input type="text" name="username" class="form-control" id="username" placeholder="abc">
                <label for="username">Username</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                    placeholder="abc">
                <label for="exampleInputPassword1">Password</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%- include("../partials/footer")%>