<%- include("./partials/header")%>
    <!-- <div class="container home">
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="lang" class="form-label">Select language:</label>
                <select name="language" class="form-select" id="lang">
                    <option selected value="c">C</option>
                    <option value="cc">C++</option>
                    <option value="java">Java</option>
                    <option value="javascript">JavaScript</option>
                    <option value="python">Python</option>
                    <option value="csharp">C#</option>
                </select>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="comment" name="comment" class="form-control" placeholder="abc">
                <label for="comment">Enter Comment</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" id="search-term" name="searchTerm" class="form-control" placeholder="abc">
                <label for="search-term">Enter Search Term</label>
            </div>
            <div class="mb-3">
                <label for="file" class="form-label">Upload Files:</label>
                <input type="file" id="file" name="files" class="form-control" multiple required>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-block">Submit</button>
            </div>
        </form>
    </div> -->


    <section class="home section">
        <div class="main">
            <div class="intro-section">
                <h6 class="intro-heading">Check Plagiarism</h6>
                <p class="intro-text">One of the premium sites to check for code plagiarism availabe in the markert out
                    there.Abosuletly free!No money!No extra charges!</p>
                <img src="https://res.cloudinary.com/hetfy/image/upload/v1603459311/laptop_hkaxzz.png" alt="Laptop">
            </div>

            <div class="sign-section">
                <form class="sign-block" action="/" method="POST" enctype="multipart/form-data">
                    <h3 class="sign-heading">Upload Files here</h3>
                    <div class="input-block">
                        <div class="select">
                            <label for="lang" class="form-label">Select language:</label>
                            <select name="language" class="form-select" id="lang">
                                <option selected value="c">C</option>
                                <option value="cc">C++</option>
                                <option value="java">Java</option>
                                <option value="javascript">JavaScript</option>
                                <option value="python">Python</option>
                                <option value="csharp">C#</option>
                            </select>
                        </div>
                        <input name="comment" class="input" placeholder="| &nbsp;Comment" type="text">
                        <input name="searchTerm" class="input" placeholder="| &nbsp;Search Term" type="text">
                        <div class="mb-5">
                            <label for="file" class="form-label">Upload Files:</label>
                            <input type="file" id="file" name="files" class="form-control" multiple required>
                        </div>
                    </div>


                    <button class="sign-button">Submit</button>
                </form>
            </div>
        </div>
    </section>




    <%- include("./partials/footer")%>