.login form,.register form,.home form{
    margin:10% 35%;
}
.login .btn,.register .btn,.home .btn{
    display: block;
    margin:0 auto;
    width: 20%;
}

.result,#content,html,body{
    height: 98%;
}
div#code-0{
    /* position:absolute; */
    /* left: 0; */
    /* top: 56px; */
    height: 100%;
    width: 50%;
    float: left;
    overflow: scroll;
}
#code-1{
    /* position: absolute; */
    /* top: 56px; */
    /* right: 0; */
    height: 100%;
    width: 50%;
    float: left;
    overflow: scroll;
}
.result h1,.result h2{
    text-align: center;
}
.result .comment-header{
    background-color: rgb(85, 197, 160);
    text-transform: uppercase;
    padding: 10px 0;
    border: 2px solid rgb(145, 138, 138) ;
}