<%- include("../partials/header")%>
    <div class="container">
        <%if(urls.length>0){%>
            <ol>
                <%urls.forEach(url=>{%>
                    <li>
                        <div class="list-group">
                            <a href="/result/<%=url._id%>" class="list-group-item list-group-item-action">
                                <%=url.comment%>
                            </a>
                        </div>
                    </li>
                    <%})%>
            </ol>
            <%}else{%>
                <p>No results found!</p>
                <%}%>
    </div>

    <%- include("../partials/footer")%>