<%- include("../partials/header")%>
    <div class="container list-results">
        <%if(urls.length>0){%>
            <div>
                <h2>All Results</h2>
                <ol>
                    <%urls.forEach(url=>{%>
                        <li>

                            <a href="/result/<%=url._id%>">
                                <%=url.comment%>
                            </a>

                        </li>
                        <%})%>
                </ol>
            </div>
            <%}else{%>
                <div>
                    <h2>No results found!</h2>
                </div>

                <%}%>
    </div>

    <%- include("../partials/footer")%>